<h1>Dictionnaire de gammes</h1>

<!-- <ng-container *ngFor="let noteCode of Note.notes">
  <h2>Gamme Majeure en {{ Note.asString(noteCode) }}</h2>
  <app-six-strings [allowedNotes]="Gamme.asNoteCodes(Gamme.build('Majeure', noteCode))"></app-six-strings>
</ng-container> -->

<app-six-strings [allowedNotes]="allowedNotes"></app-six-strings>

<ng-container *ngFor="let gamme of _gammes">
  <h2>Gamme {{ gamme.name }} en {{ gamme.tonique }}</h2>
  <app-six-strings [allowedNotes]="gamme.notes"></app-six-strings>
</ng-container>

